<br><br><br><br><br>
<div class="container-fluid" >
<!-- <div style="background-color: green;"> -->
  <div class="row">
    <div class="col-sm-3"  style="padding-left:10px;">
      <div class="card mb-sm-3 mb-md-0 contacts_card" style="margin-left:2px;">
        <div class="card-header">
          <div class="input-group"> 
            <input type="text" placeholder="Search..." name="" class="form-control search">
            <div class="input-group-prepend">
              <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="card-body contacts_body">
          <ul class="contacts" *ngFor="let data of user">
            <li [className]="receiverid==data._id ? 'active' : 'other-class'" (click)="receiverdetails(data)"> <!---class="active"-->
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>{{data.username}}</span>
                  <p>{{data.username}} is online</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-sm-9" style="padding-left: 0px;">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
              <span class="online_icon"></span>
            </div>
            <div class="user_info">
              <span>Chat with Khalid</span>
              <p>1767 Messages</p>
            </div>
            <div class="video_cam">
              <span><i class="fas fa-video"></i></span>
              <span><i class="fas fa-phone"></i></span>
            </div>
          </div>
          <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
          <div class="action_menu">
            <ul>
              <li><i class="fas fa-user-circle"></i> View profile</li>
              <li><i class="fas fa-users"></i> Add to close friends</li>
              <li><i class="fas fa-plus"></i> Add to group</li>
              <li><i class="fas fa-ban"></i> Block</li>
            </ul>
          </div>
        </div>
        <div class="card-body msg_card_body" *ngFor="let data of a">
          <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
              <img src={{data.receiver_img}} class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
             {{data.receiver_msg}}
              <span class="msg_time">{{data.reciever_time}}</span>
            </div>
          </div>
          <div class="d-flex justify-content-end mb-4">
            <div class="msg_cotainer_send">
                {{data.sender_msg}}
              <span class="msg_time_send">{{data.sender_time}}</span>
            </div>
            <div class="img_cont_msg">
              <img src={{data.sender_img}} class="rounded-circle user_img_msg">
            </div>
          </div>
         </div>
        <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
              <span class="input-group-text send_btn" (click)="sendmsg()"><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>